<!DOCTYPE html>
<html data-ng-app="andrewApp1">
<body>
	
	<div class="container" data-ng-controller='FirstController'>
		Filter: <input type="text" data-ng-model="name"/> 
		<br/>
		<ul>
			<li data-ng-repeat="entry in List | filter: name"> {{entry.ieml}} </li>
		</ul>
	</div>
	
	<!-- angular -->
	<script src="../libs/angular/angular.js"></script>
	<!-- REST API -->
	<script src="../js/services/AlliemlService.js"></script>
	<!-- update scope with data received from API -->
	<script src="../js/controllers/Contr1.js"></script>
	<!-- angular app module-->
	<script src="../js/app_andrew.js"></script>
		
</body>
</html>