
extends nglayout

block body
    div
     h2 My Blog
     ul
          li
           a(href='/') Home
          li
            a(href='/addPost') Add a new post


    h1= title
    p Welcome..... to #{title}

    
    div(ng-controller='FirstController')
           p List of IEML
           ul.page-sidebar-menu(ng-repeat='item in List')
                li(ng-class='group.groupStyle')
                    a(href="{{item._id}}")
                        i(ng-class='group.iconStyle')
                        span.title {{item.ieml}}
                        span(ng-class="group.spanStyle")
    div(ng-view)

    script(src='../libs/angular/angular.js')
    script(src='../libs/angular-route/angular-route.js')
    script(src='../js/controllers/Contr1.js')
    script(src='../js/services/AlliemlService.js')
    script(src='../js/appRoutes.js')
    script(src='../js/app.js')
               


   

