extends layout

block content
    // /do not mix tabs and spaces!!!
    // /if you write h1 = title, it will not work!!!
    h1= title
    p Welcome to #{title}

    // Wrapper
    #wrapper

    // user LIST
    h2 Scripts
    #userList
        table
            thead
                th IEML
                th FR
                th EN
                th Delete?
            tbody
        // /user LIST
    // /WRAPPER