<html lang="en" data-ng-app="materialApp">

<!--md-icon md-svg-icon="../libs/material-design-icons/action/svg/production/ic_delete_24px.svg"></md-icon-->
<!-- https://www.google.com/design/icons/-->

  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../libs/angular-material/angular-material.css">
	
	<!-- Icons -->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	  
	<!-- following css is required to get the "delete" button in side chips to look nice -->
	<link rel="stylesheet" href="/stylesheets/mystyle.css">
	
  </head>
  
  <body>
  
    <!-- TOP TOOLBAR -->
  	<div>
	  <md-content>
		<md-toolbar>
		  <div class="md-toolbar-tools">	
		    <div>
             <!-- <md-menu>-->
                <md-button class="md-icon-button" aria-label="Settings" ng-click="$mdOpenMenu( $event)">
				  <i class="material-icons">language</i>
	            </md-button>
				  <!--md-menu-content width="4">
					<md-menu-item>
					  <md-button ng-click="viewEntry(-1)">
						<i class="material-icons">view_list</i>
						Edit Dictionary
					  </md-button>
					</md-menu-item>
					<md-menu-item>
					  <md-button disabled="disabled" ng-click="ctrl.checkVoicemail()">
						<i class="material-icons">do_not_disturb</i>
						Disabled Action
					  </md-button>
					</md-menu-item>
					<md-menu-divider></md-menu-divider>
					<md-menu-item>
					  <md-button ng-click="ctrl.toggleNotifications()">
						<i class="material-icons">do_not_disturb</i>
						Action
					  </md-button>
					</md-menu-item>
				  </md-menu-content-->
			<!--  </md-menu>-->
            </div>
			<h2>
			  <span class="md-title">quickIEMLeditor</span>
			</h2>
		  </div>
		</md-toolbar>
		
		<br/><br/>
		
	  </md-content>
	</div>
	<!-- END TOP TOOLBAR -->
	
	<!-- MIDDLE -->
	<div flex layout-padding style="width: 1000px;">
	  <md-content>
        <ng-view>	
		
		</ng-view>
	  </md-content>	
	</div>
	<!-- END MIDDLE -->
	  
	
	<!-- angular -->
	<script src="../libs/angular/angular.js"></script>
	<script src="../libs/angular-route/angular-route.js"></script>
    <!-- angular material-->
	<script src="../libs/angular-aria/angular-aria.js"></script>
   	<script src="../libs/angular-animate/angular-animate.js"></script>
	<script src="../libs/angular-material/angular-material.js"></script>
	<!-- angular messages-->
	<script src="../libs/angular-messages/angular-messages.js"></script>
	<!-- app -->
	<script src="../js/material.js"></script>
	
  </body>
</html>