doctype html
html(ng-app="iemlng")
  head
    meta(charset='utf8')
    base(href='/ngindex')
    title Angular Express Bootstrap Seed App
    //link(rel='stylesheet', href='../libs/bootstrap/css/bootstrap.min.css')
    //link(rel='stylesheet', href='/css/app.css')
  body
    block body