<md-toast style="opacity:0.4; background: blue;overflow:auto; max-width:800px;">

 <md-list>
      
        		<md-list-item>
         		 <span class="md-list-item-text "> en:{{tableTile.means.en}}</span> 
				  </md-list-item>
         		 <md-list-item> <span "md-list-item-text "> fr:{{tableTile.means.fr}}</span> </md-list-item>
				 <md-list-item>
				  
				  <md-button class="md-primary" ng-click="editTile(tableTile)" ng-show="tableTile.editable"> Edit </md-button>
				  <md-button class="md-primary" ng-click="createIEMLfromTile(tableTile)" ng-show="tableTile.creatable"> Create </md-button>
				  <md-button class="md-primary" ng-click="closeToast()">Close</md-button>
				  
				 </md-list-item>
        		
  </md-list>

 
 

</md-toast>