<!-- http://codepen.io/salalaslam/pen/wajGMx -->




    <md-tabs md-dynamic-height="" md-border-bottom="" >
      <md-tab label="TABLE">
        <md-content class="md-padding">
        
        <!--div ng-repeat="materialTable in materialTables"  ng-show="$index==indexOfTable"--> 		
		 
        <!--TABLEs -->
        <div class="gridListDynamicTiles" ng-show="showTables" >
          <md-tabs md-dynamic-height="" md-border-bottom="" ng-repeat="maintable in materialTables">
            <md-tab label="{{subtable.tabTitle}}" ng-repeat="subtable in maintable.table" >
              <md-content class="md-padding">
		      <!--<md-slider flex="" class="md-primary" md-discrete="" ng-model="indexOfTable" step="1" min="1" max={{sliceCount}} aria-label="depth"></md-slider> -->
                <md-grid-list md-cols="{{maintable.Col}}" md-row-height="40px" md-gutter="0px">
                  <md-grid-tile ng-repeat="tile in subtable.slice" md-rowspan="{{tile.span.row}}" md-colspan="{{tile.span.col}}" style=" border-style: solid;
                    border-width: 1px; border-color: black;" ng-class="tile.background">  
                    <!--input ng-model="tile.value" ng-show="tile.edit"-->
                    <p ng-show="tile.edit">{{tile.value}}</p>
                  </md-grid-tile>
                </md-grid-list>
              </md-content> 
            </md-tab>
          </md-tabs>
		</div>
		
		<div ng-show="!showTables">
		<h2>{{tableError}}</h2>
		</div>
		
		<div>
          <br/><br/>
          <md-button class="md-raised" ng-click="submitEdit()" disabled="disabled"> Submit </md-button> 
          <md-button class="md-raised" ng-click="cancelEdit()"> Cancel </md-button>
        </div>
		
		<!--/div-->
		
        </md-content>
      </md-tab>
	
    <md-tab label="GRAPH">
      <md-content class="md-padding">

          <div d3ieml style="width=100%; height=100%"> </div>
       
      </md-content>
    </md-tab>
     
  </md-tabs>




