<div layout="column" style="height: 800px;">		

  <div layout="row">
	<md-input-container>
	  <label>Display</label>
		<md-select ng-model="filterParadigm" ng-change="triggerFiltering('PARADIGM')" >
		  <md-option ng-repeat="filterParadigm in filterParadigmChoices" value="{{filterParadigm}}">
			{{filterParadigm}}
		  </md-option>
		</md-select>
	</md-input-container>
	<md-input-container>
	  <label>Display</label>
		<md-select ng-model="filterClass" ng-change="triggerFiltering('CLASS')">
		 <md-optgroup label="Tertiary">
			<md-option ng-value="filterClass.name" ng-repeat="filterClass in filterClassChoices | filter: {category: 'tertiary' }">{{filterClass.name}}</md-option>
		  </md-optgroup>	
		  <md-optgroup label="Primary">
			<md-option ng-value="filterClass.name" ng-repeat="filterClass in filterClassChoices | filter: {category: 'primary' }">{{filterClass.name}}</md-option>
		  </md-optgroup>
		  <md-optgroup label="Secondary">
			<md-option ng-value="filterClass.name" ng-repeat="filterClass in filterClassChoices | filter: {category: 'secondary' }">{{filterClass.name}}</md-option>
		  </md-optgroup>
		</md-select>
	</md-input-container>
	<md-input-container>
	  <label>Display</label>
		<md-select ng-model="filterLayer" ng-change="triggerFiltering('LAYER')">
		  <md-option ng-repeat="filterLayer in filterLayerChoices" value="{{filterLayer}}">{{filterLayer}}</md-option>
		</md-select>
	</md-input-container>
	<md-input-container>
	<label>Language</label>
		<md-select ng-model="filterLanguage" ng-change="triggerFiltering('LANGUAGE')">
		  <md-option ng-repeat="filterLanguage in filterLanguageChoices" value="{{filterLanguage}}">{{filterLanguage}}</md-option>
		</md-select>
	</md-input-container>
	<md-input-container>
	  <label>Order</label>
		<md-select ng-model="filterOrder" ng-change="triggerFiltering('ORDER')">
		  <md-option ng-repeat="filterOrder in filterOrderChoices" value="{{filterOrder}}">{{filterOrder}}</md-option>
		</md-select>
	</md-input-container>
	<md-input-container>
	  <label for="filterInput">Search for</label>
	  <input type="text" id="filterInput" ng-change="triggerFiltering('TEXT')" data-ng-model="filterText" >
	</md-input-container>  
  </div>
  
  <div >
    <md-content>  
	  <md-virtual-repeat-container id="vertical-container">

	  <md-list class="fixedRows">
	    <md-list-item md-virtual-repeat="item in List | filter: filterText |
	    												filter:filterItemIeml(filterText) |
                                                        filter:filterItemParadigm(filterParadigm) | 
                                                        filter:filterGrammaticalClass(filterClass) | 
                                                        filter:filterItemLayer(filterLayer)" class="repeated-item" flex> 
	  
		  <!-- md-primary for blue color, md-mini for smaller icon-->
		  <md-button  title="xDelete this IEML" class="md-fab md-primary md-mini" ng-click="showConfirm(deleteEntry, List.indexOf(item))">
		    <i class="material-icons">remove</i>
		  </md-button>	
		  
		  <md-button  title="Edit this IEML" class="md-fab md-primary md-mini" ng-click="editEntry(List.indexOf(item))">
		    <i class="material-icons">settings</i>
		  </md-button>
		 
		  <md-button class="md-raised" style="text-transform: none;" ng-click="showDicEdit(List.indexOf(item))">
		   {{item.IEML}} 
		  </md-button>	
		 
		  <md-list-item class="md-2-line">
        	<div class="md-list-item-text">
         		 <p ng-show="filterLanguage=='English'">{{item.EN}}</p>
         		 <p ng-show="filterLanguage!='English'">{{item.FR}}</p>
        	</div>
    	  </md-list-item>
		  
	    </md-list-item >
	  </md-list>

	  </md-virtual-repeat-container>
    </md-content>
  </div>
			  
  <!-- md-fab-bottom-left to position 
  <md-button class="md-fab md-primary md-fab-bottom-right"  ng-click="editEntry(-1)">
	<i class="material-icons">add</i>
  </md-button> -->
			  
</div>	