<div layout="column" style="padding-bottom: 15px;">

  <md-content class="md-padding" layout="column">
    <div class="lock-size" layout="row" layout-align="left center">
      <md-fab-speed-dial md-open="isOpen" md-direction="{{selectedDirection}}"
                         ng-class="selectedMode">
        <md-fab-trigger>
          <md-button aria-label="menu" class="md-fab md-warn">
			<i class="material-icons">menu</i>
          </md-button>
        </md-fab-trigger>
        <md-fab-actions>
          <md-button title="View IEML List" class="md-fab md-raised md-mini" ng-click="viewEntry(-1)">
		    <i class="material-icons">view_list</i>
          </md-button>
          <md-button aria-label="no action" class="md-fab md-raised md-mini">
		    <i class="material-icons">do_not_disturb</i>		  
          </md-button>
          <md-button aria-label="no action" class="md-fab md-raised md-mini">
		    <i class="material-icons">do_not_disturb</i>		  
          </md-button>
        </md-fab-actions>
      </md-fab-speed-dial>
    </div>
   
  </md-content>

  <md-content layout-padding style="height: 600px;padding: 24px;">
  
    <h2 class="md-flex">What is new</h2>
	
	<h3> Oct 26th, 2015</h3>
    <h4>Alpha release!</h4>
	
	<h3> Oct 17th, 2015</h3>
    <h4> Features</h4>
	<p>Authorization for 'write' function</p>
	<p>Table representation</p>
	<h4>Fixes</h4>
    <ul>Can use space in entry description</ul>

	
	<h3> Oct 3rd, 2015</h3>
	<h4> Fixes</h4>
    <ul>"Edit" functionality working</ul>
	
	<h3> Sep 29th, 2015</h3>
    <h4> Features</h4>
	<p>Added tooltips</p>
	<h4> Fixes</h4>
    <ul>"Add" functionality moved to toolbar</ul>
    <ul>Graph nodes' color</ul>
	<ul>Display "classes" filtering order at top of list</ul>

	<h3> Sep 24th, 2015</h3>
	<h4> Features</h4>
	<p>Tree display</p>
	<h4> Fixes</h4>
    <ul>Error message display on form entry</ul>
    <ul>Disable tree sorting</ul>
	<ul>Preserve filtering selection across navigation</ul>
	
    <h3> Aug 21th, 2015</h3>
	<h4> Features</h4>
	<p>You can now browse the entire terms database. You can delete terms and create new terms. 
	Filtering is available to focus on specific terms.</p>

  </md-content>
</div>